*.pyc
.vscode
.cache/
.conda/
output
data/
datasets/
drsplat_data/
wandb/
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
**/__pycache__/
events.out*
release
*.png
*.jpg
*.out
shells
